.body{
	font-family: Amasis MT Pro; 
}


.partie{
	font-size: 60px ;
	color : red ;
}


.sous_partie{
	font-size: 45px ;
	color: #C00000 ;
}

.sous_sous_partie{
	font-size: 30px ;
	color: blue ;
}
